@media (max-width: 1210px) {

  .podcasts__list {
    justify-content: center;
  }

  .wave__radio {
    margin-right: 80px;
  }

  .wave__left {
    padding-top: 92px;
  }

  .playlists__container {
    flex-direction: column;
  }

  .playlists__left {
    margin-bottom: 20px;
    margin-right: 0;
    min-height: 140px;
    max-width: none;
    background-position: 0 bottom;
  }

  .playlists__copy::after {
    height: 25%;
    top: 110px;
  }

  .playlists__right {
    padding-top: 0;
    max-width: 918px;
  }

  .playlists__item {
    width: calc((100% - (25px * var(--offsets))) / (var(--offsets) + 1));
  }

  .playlists__descr {
    max-width: none;
  }

  .about__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 29px;
    width: 100%;
    column-gap: 30px;
  }

  .about__item {
    max-width: 425px
  }

  .about__descr::after {
    position: static;
  }

  .about__descr::before {
    width: 45%;
    height: 130%;
    left: 688px;
  }

}


@media (max-width: 1024px) {

  .container {
    padding: 0 100px;
  }

  .header {
    position: relative;
    padding-top: 28px;
    padding-bottom: 31px;
  }

  .header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 79px;
    left: 0;
    background-color: var(--gray-color);
  }

  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 144px;
    left: 0;
    background-color: var(--gray-color);
  }

  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__logo {
    margin-right: auto;
    padding-top: 5px;
    max-width: 112px;
  }

  .header__nav {
    padding-top: 46px;
    width: calc(100% + 15px);
    order: 3;
  }

  .header__list {
    gap: 105px;
  }

  .hero__content {
    padding-top: 81px;
    padding-bottom: 89px;
    background-image: url(../img/microphone_1024_1.png);
    background-repeat: no-repeat;
    background-position: right 45%;
  }

  .hero__descr {
    margin-bottom: 19px;
    max-width: 56%;
  }

  .broadcast {
    padding-top: 95px;
    padding-bottom: 93px;
  }

  .broadcast__row {
    grid-template-columns: 31% 50%;
    gap: 30px;
  }

  .broadcast__list {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding-top: 12px;
  }

  .guests {
    padding-bottom: 94px;
  }

  .guests__descr {
    margin-bottom: 50px;
    max-width: 536px;
  }

  .guests__detail {
    max-width: 362px;
  }

  .guests__name--descr {
    max-width: 92%;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .playlists {
    padding-bottom: 93px;
  }

  .playlists__left {
    margin-bottom: 29px;
  }

  .playlists__right {
    padding-top: 0;
  }

  .playlists__list {
    justify-content: center;
    --offsets: 2;
    gap: 28px;
  }

  .playlists__item {
    max-width: 254px;
    flex-basis: calc((100% - (28px * var(--offsets))) / (var(--offsets) + 1));
    border: 1px solid #E6E8EC;
  }

  .playlists__preview {
    flex-direction: row;
  }

  .playlists__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
  }

  .playlists__subtitle {
    margin-bottom: 5px;
  }

  .wave {
    padding-bottom: 93px;
  }

  .wave__left {
    display: flex;
    flex-basis: 50%;
    padding-top: 122px;
    margin-right: 30px;
  }

  .wave__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .about {
    padding-bottom: 96px;
  }

  .about__descr::before {
    width: 50%;
    top: -79px;
    left: 569px;
  }

  .about__subtitle {
    max-width: 539px;
  }

  .about__descr {
    max-width: 539px;
    margin-bottom: 30px;
  }

  .about__list {
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    margin-bottom: 29px;
  }

  .about__item {
    max-width: 397px;
    margin-bottom: 1px;
  }

  .about__preview {
    max-width: 397px;
  }

  .form__textarea {
    min-width: 824px;
  }

  .form__name {
    min-width: 397px;
  }

  .form__email {
    min-width: 397px;
  }

}

@media (max-width: 1023px) {

  .header__list {
    gap: 96px;
  }

  .podcasts__list {
    flex-direction: column;
  }

  .broadcast {
    padding-bottom: 250px;
  }

  .broadcast__container {
    flex-wrap: wrap;
    position: relative;
  }

  .broadcast__wrapper {
    max-width: 75%;
    position: absolute;
    text-align: center;
    bottom: -3px;
  }

  .guests__img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .guests__name--descr {
    margin-bottom: 30px;
  }

  .about__list {
    justify-content: center;
  }

  .about__detail {
    max-width: 255px;
  }

  .form__textarea {
    min-width: 777px;
  }

  .form__name {
    min-width: 375px;
  }

  .form__email {
    min-width: 375px;
  }
}

@media (max-width: 992px) {

  .header__list {
    gap: 41px;
  }

  .hero__content {
    background-image: none;
  }

  .hero__descr {
    max-width: 90%;
  }

  .broadcast__row {
    display: flex;
    flex-direction: column;
  }

  .broadcast__wrapper {
    display: flex;
    align-items: flex-start;
    bottom: -167px;
    left: 99px;
  }

  .broadcast__archiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .broadcast__picture {
    margin-right: 20px;
  }

  .guests__item {
    flex-direction: column;
  }

  .guests__detail {
    max-width: 100%;
  }

  .guests__name--descr {
    max-width: 95%;
  }

  .playlists__left {
    min-height: 163px;
    background-position: 0 132px
  }

  .playlists__copy::after {
    top: 132px;
  }

  .playlists__descr {
    max-width: 539px;
  }

  .playlists__list {
    --offsets: 1;
    gap: var(--gap);
  }

  .playlists__item {
    flex-basis: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  }

  .wave {
    padding-top: 54px;
  }

  .wave__container {
    flex-direction: column;
    align-items: center;
  }

  .wave__left {
    padding-top: 27px;
  }

  .wave__radio {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .about__descr::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 55%;
    top: 225px;
    left: -147px;
    background-image: url(../img/spiral_768.png);
    background-repeat: no-repeat;
  }

  .about__descr::before {
    content: "";
    position: absolute;
    width: 23%;
    height: 52%;
    top: 228px;
    left: 486px;
    background-image: url(../img/star_768.png);
    background-repeat: no-repeat;
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 135px;
  }

  .about__descr {
    margin-bottom: 0;
  }

  .form__textarea {
    min-width: 640px;
  }

  .form__name {
    min-width: 640px;
  }

  .form__email {
    min-width: 640px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    margin-bottom: 80px;
  }

}

@media (max-width: 768px) {

  .container {
    padding: 0 114px;
  }

  .header__logo {
    max-width: 113px;
  }

  .header::before {
    top: 140px;
  }

  .header__nav {
    padding-top: 44px;
  }

  .header__list {
    gap: 54px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__link::after {
    height: 30px;
  }

  .hero__content {
    align-items: flex-start;
  }

  .broadcast {
    position: relative;
    padding-bottom: 216px;
  }

  .broadcast::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 156px;
    left: 0;
    background-color: var(--gray-color);
  }

  .broadcast__title {
    margin-bottom: 90px;
  }

  .broadcast__right {
    padding-top: 0;
  }

  .broadcast__wrapper {
    flex-direction: row;
    text-align: start;
    left: 212px;
    bottom: -191px;
  }

  .broadcast__img {
    margin-bottom: 0;
  }

  .broadcast__btn {
    margin-bottom: 8px;
  }

  .broadcast__archive--descr {
    max-width: 250px;
  }

  .guests {
    padding-bottom: 97px;
  }

  .guests__item {
    align-items: normal;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 53px;
  }

  .guests__picture {
    max-width: 540px;
  }

  .guests__name--descr {
    max-width: 65%;
  }

  .playlists {
    padding-bottom: 110px;
  }

  .playlists__list {
    gap: 28px;
  }

  .playlists__item {
    flex-basis: calc((100% - (28px * var(--offsets))) / (var(--offsets) + 1));
  }

  .wave {
    padding-top: 30px;
  }

  .wave__left {
    margin-right: 0;
    padding-top: 24px;
  }

  .wave__radio {
    margin-bottom: 46px;
  }

  .wave__right {
    position: relative;
    max-width: 541px;
  }

  .wave__right::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    top: 113px;
    left: 0;
    background-image: url(../img/wave_768.png);
    background-repeat: no-repeat;
  }

  .wave__title {
    max-width: 441px;
  }

  .wave__title::after {
    position: static;
  }

  .about__descr::after {
    top: 253px;
    left: -114px;
  }

  .about__descr::before {
    top: 254px;
    left: 428px;
  }

  .about__wrapper {
    align-items: normal;
    margin-bottom: 172px;
  }

  .about__img {
    margin-bottom: 26px;
  }

  .form__textarea {
    min-width: 541px;
  }

  .form__name {
    min-width: 541px;
    border-radius: 38px;
  }

  .form__email {
    margin-bottom: 32px;
    min-width: 541px;
    border-radius: 38px;
  }

  .footer__left {
    margin-bottom: 74px;
  }

  .logo__footer {
    margin-bottom: 14px;
  }

  .footer__wrapper {
    gap: 24px;
  }

  .footer__svg {
    width: 36px;
    height: 36px;
  }

  .footer__nav {
    flex-basis: 434px;
    margin-bottom: 100px;
  }

  .footer__list {
    justify-content: space-between;
    row-gap: 30px;
  }

  .footer__item {
    flex-basis: 30%;
  }

}


@media (max-width: 767px) {

  .header {
    padding-bottom: 14px;
  }

  .header__nav {
    overflow-x: scroll;
    margin-bottom: 0;
    order: 3;
    flex-basis: 100%;
  }

  .header__list {
    flex-wrap: nowrap;
    min-height: 54px;
  }

  .hero__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__subtitle {
    font-size: 32px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .broadcast__title {
    margin-bottom: 0;
    margin-right: 0;
  }

  .broadcast__wrapper {
    left: 117px;
  }

  .broadcast__text {
    padding: 15px 12px 15px 12px;
  }

  .broadcast__subtitle {
    font-size: 15px;
  }

  .broadcast__descr {
    font-size: 10px;
  }

  .playlists__left {
    margin-bottom: 20px;
    min-height: 186px;
    background-position: 0 bottom;
  }

  .playlists__copy::after {
    top: 152px;
  }

  .playlists__preview {
    flex-direction: column;
  }

  .playlists__item {
    max-width: 113px;
  }

  .playlists__subtitle {
    font-size: 12px;
  }

  .playlists__detail {
    font-size: 9px;
  }

  .wave__right::after {
    top: 43px;
  }

  .wave__title {
    font-size: 24px;
  }

  .wave__descr {
    font-size: 14px;
  }

  .wave__descr--top {
    margin-bottom: 9px;
  }

  .about__descr::after {
    position: static;
  }

  .about__descr::before {
    position: static;
  }

  .about__wrapper {
    margin-bottom: 60px;
  }

  .about__item {
    max-width: 45%;
    justify-content: space-between;
  }

  .about__name {
    font-size: 14px;
  }

  .about__detail {
    font-size: 12px;
  }

  .form__textarea {
    min-width: 439px;
  }

  .form__name {
    margin-right: 0;
    min-width: 439px;
  }

  .form__email {
    min-width: 439px;
  }

}


@media (max-width: 576px) {

  .container {
    padding: 0 32px;
  }

  .header {
    padding-top: 16px;
  }

  .header::before {
    top: 104px;
  }

  .header::after {
    top: 54px;
  }

  .header__logo {
    max-width: 87px;
  }

  .header__nav {
    padding-top: 26px;
  }

  .header__list {
    gap: 24px;
  }

  .hero__content {
    padding-top: 7px;
    padding-bottom: 39px;
  }

  .hero__title {
    margin-bottom: 7px;
  }

  .hero__descr {
    max-width: 95%;
  }

  .hero__btn {
    padding: 18px 45px;
    font-size: 16px;
  }

  .podcasts {
    padding-top: 55px;
    padding-bottom: 54px;
  }

  .podcasts__title {
    margin-bottom: 19px;
    font-size: 24px;
  }

  .podcasts__list {
    align-items: center;
  }

  .podcasts__item {
    flex-direction: column;
    max-width: 256px;
    min-height: 185px;
  }

  .podcasts__preview {
    padding: 30px 64px 27px 16px;
  }

  .podcasts__date {
    padding: 3px 7px;
    bottom: 168px;
    left: 0;
  }

  .podcasts__subtitle {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .podcasts__name {
    font-size: 12px;
  }

  .broadcast {
    padding-top: 54px;
    padding-bottom: 217px;
  }

  .broadcast::after {
    bottom: 188px;
  }

  .broadcast__title {
    justify-content: flex-start;
    margin-bottom: 0;
    font-size: 24px;
  }

  .broadcast__list {
    grid-template-columns: repeat(2, 44%);
    justify-content: space-between;
  }

  .broadcast__item {
    min-height: 113px;
  }

  .broadcast__text {
    padding: 10px 12px 12px 10px;
    min-height: 99px;
  }

  .broadcast__subtitle {
    font-size: 12px;
  }

  .broadcast__descr {
    margin-bottom: auto;
    font-size: 9px;
  }

  .broadcast__detail {
    font-size: 12px;
  }

  .broadcast__wrapper {
    left: 13px;
    bottom: -166px;
  }

  .broadcast__picture {
    margin-right: 12px;
  }

  .broadcast__archiv {
    flex-direction: column-reverse;
  }

  .broadcast__archive--descr {
    margin-bottom: 7px;
    max-width: 166px;
    font-size: 14px;
  }

  .broadcast__btn {
    padding: 9px 30px;
    margin-bottom: 0;
  }

  .guests {
    padding-top: 54px;
    padding-bottom: 55px;
  }

  .guests__title {
    font-size: 24px;
  }

  .guests__subtitle {
    margin-bottom: 0;
    font-size: 14px;
  }

  .guests__descr {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .guests__picture {
    margin-right: 0;
  }

  .guests__img {
    margin-bottom: 12px;
  }

  .guests__name {
    font-size: 20px;
  }

  .guests__name--descr {
    margin-bottom: 31px;
    max-width: 93%;
    font-size: 16px;
  }

  .guests__btn {
    padding: 7px 13px;
  }

  .playlists {
    padding-top: 54px;
    padding-bottom: 53px;
  }

  .playlists__title {
    margin-bottom: 13px;
    font-size: 24px;
  }

  .playlists__descr {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__copy {
    font-size: 12px;
  }

  .playlists__copy::after {
    width: 15%;
    top: 74%;
  }

  .playlists__left {
    min-height: 151px;
    background-position: 0 92%;
  }

  .playlists__img {
    margin-bottom: 3px;
  }

  .playlists__subtitle {
    margin-bottom: 8px;
  }

  .wave {
    padding-bottom: 57px;
  }

  .wave__radio {
    margin-bottom: 29px;
  }

  .wave__title {
    margin-bottom: 39px;
    max-width: 256px;
  }

  .wave__right::after {
    top: 56px;
    height: 10%;
  }

  .wave__descr {
    line-height: 160%;
  }

  .wave__descr--bottom {
    margin-bottom: 5px;
  }

  .wave__price {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .wave__link {
    padding: 12px 12px;
    font-size: 16px;
  }

  .about {
    padding-top: 55px;
    padding-bottom: 56px;
  }

  .about__wrapper {
    margin-bottom: 26px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .about__descr {
    margin-bottom: 1px;
    line-height: 158%;
    font-size: 14px;
  }

  .about__list {
    column-gap: 30px;
  }

  .about__item {
    max-width: 113px
  }

  .about__img {
    margin-bottom: 10px;
  }

  .about__name {
    margin-bottom: 8px;
    max-width: 15px;
  }

  .about__detail {
    line-height: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__textarea {
    padding: 15px 10px 10px 24px;
    margin-bottom: 31px;
    min-width: 256px;
    border-radius: 19px;
    font-size: 16px;
  }

  .about__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__name {
    padding: 10px 10px 10px 23px;
    margin-bottom: 33px;
    font-size: 16px;
    min-height: 47px;
    min-width: 256px;
  }

  .form__email {
    padding: 10px 10px 10px 23px;
    font-size: 16px;
    min-width: 256px;
    min-height: 47px;
  }

  .about__btn {
    padding: 15px 42px;
    margin-bottom: 22px;
    font-size: 16px;
  }

  .checkbox-text {
    font-size: 9px;
  }

  .form__btn {
    font-size: 16px;
  }

  .footer {
    padding-top: 54px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__left {
    margin-bottom: 50px;
  }

  .footer__middle {
    justify-content: center;
    padding-top: 26px;
    width: 100%;
    background-color: var(--black-color);
  }

  .footer__nav {
    margin-bottom: 26px;
    flex-basis: 254px;
  }

  .footer__list {
    justify-content: space-between;
    row-gap: 25px;
  }

  .footer__item {
    flex-basis: 40%;
    font-size: 12px;
  }

  .footer__bottom {
    padding-top: 32px;
  }

  .footer__bottom::before {
    top: 10px;
  }

  .footer__copy {
    font-size: 12px;
  }

}
